<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b1d79b">  <td>21/03/01 16:15:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.AccountOverviewTestcases@5a4aa2f2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="b1d79b">  <td>21/03/01 16:14:54</td>   <td>-9405</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.AccountOverviewTestcases@5a4aa2f2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="94d6b9">  <td>21/03/01 16:15:03</td>   <td>-218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.AccountOverviewTestcases@5a4aa2f2]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="94d6b9">  <td>21/03/01 16:14:54</td>   <td>-8983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.AccountOverviewTestcases@5a4aa2f2]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="cd6581">  <td>21/03/01 16:14:59</td>   <td>-4060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountOverviewTestcases.validateAccountOverviewLoginInformation(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.AccountOverviewTestcases@5a4aa2f2]">validateAccountOverviewLoginInformation</td> 
  <td>main@589835301</td>   <td></td> </tr>
</table>
